
NASASpaceApps2019_SolarSystemGenerator/Library/shadercompiler-UnityShaderCompiler.exe0.log
NASASpaceApps2019_SolarSystemGenerator/Temp/UnityLockfile
*.log
*.log
NASASpaceApps2019_SolarSystemGenerator/Library/shadercompiler-UnityShaderCompiler.exe0.log
